body {
    margin: 0px;
    background-color: #393e46 !important;
    color: #eeeeee;
}

nav.navbar {
    margin-bottom: 3%;
    background-color: #222831 !important;
}

/*  StreamList  */
div.item {
    padding: 2rem !important;
}

.ui.list {
    margin-top: 2.5rem !important;
}

div.item .content a{
    text-decoration: none !important;
    color: #eeeeee !important;
}
div.item .content h3 > a{
    color: #eeeeee !important;
}

div.item .content h3 > a {
    color: #eeeeee !important;
}


/* StreamForm */
form label {
    color: #eeeeee;
}

h3.form-header {
    color: #eeeeee;
    margin-bottom: 2rem;
}

/* SearchBar */
input.prompt {
    box-shadow: 10px 10px 5px #222831 !important;
}